= form_tag projects_path do
  %input.form-control(type="text" name="name" placeholder="Enter Project name" required=true)
  %input.form-control(type="text" name="git_url" placeholder="Enter Git Url" required=true)
  %button.btn.btn-primary(type="submit") Join