%div#dashboard
  %input(type="hidden" id="project_id" value="#{@project.id}")
  %ul#builds.list-group
%script(id="buildTpl" type="text/template")
  %li.build.list-group-item(data-commit-id="{{commit_id}}")
    %h1 {{commit_message}}
    %label.date {{date}}
    %div.actions
      {{#ready_to_build}}
      .btn-group.btn-group-sm(role="group")
        %button.btn.btn-default Build
      {{/ready_to_build}}
      {{#ready_to_download}}
      .btn-group.btn-group-sm(role="group")
        %button.btn.btn-default Download
        %button.btn.btn-default Email
        %button.btn.btn-default Re-Build
      {{/ready_to_download}}
